**DS 301: Applied Data Modeling and Predictive Analysis**

**Lecture 8 â€“ One-Hot Encoding**

# One-Hot Encoding
Nok Wongpiromsarn, 8 August 2022

**Label Encoding with scikit-learn**

In [1]:
import pandas as pd
from sklearn import preprocessing

data = pd.DataFrame({'country': ['russia', 'germany', 'australia', 'korea', 'germany']})
data['country_encoded'] = preprocessing.LabelEncoder().fit_transform(data['country'])
data.head(5)

     country  country_encoded
0     russia                3
1    germany                1
2  australia                0
3      korea                2
4    germany                1

**One-Hot Encoding with scikit-learn**

In [2]:
from sklearn.preprocessing import OneHotEncoder
data = pd.DataFrame({'country': ['russia', 'germany', 'australia', 'korea', 'germany']})
cat_encoder = OneHotEncoder()
country_1hot = cat_encoder.fit_transform(data[['country']]).toarray()
country_1hot_df = pd.DataFrame(country_1hot, columns=cat_encoder.get_feature_names_out(['country']))

# Use pd.concat to join the new columns with the original dataframe.
# Specify axis=1 for column (axis=0 is for row).
data = pd.concat([data, country_1hot_df], axis=1)
data.head(5)

,country,country_australia,country_germany,country_korea,country_russia
0,russia,0.0,0.0,0.0,1.0
1,germany,0.0,1.0,0.0,0.0
2,australia,1.0,0.0,0.0,0.0
3,korea,0.0,0.0,1.0,0.0
4,germany,0.0,1.0,0.0,0.0

**One-Hot Encoding with pandas**

In [3]:
data = pd.DataFrame({'country': ['russia', 'germany', 'australia', 'korea', 'germany']})
country_1hot = pd.get_dummies(data, prefix=['country'])
data = pd.concat([data, country_1hot], axis=1)
data.head(5)

,country,country_australia,country_germany,country_korea,country_russia
0,russia,0,0,0,1
1,germany,0,1,0,0
2,australia,1,0,0,0
3,korea,0,0,1,0
4,germany,0,1,0,0

**Dummy encoding with pandas**

In [4]:
data = pd.DataFrame({'country': ['russia', 'germany', 'australia', 'korea', 'germany']})
country_1hot = pd.get_dummies(data, prefix=['country'], drop_first=True)
data = pd.concat([data, country_1hot], axis=1)
data.head(5)

     country  country_germany  country_korea  country_russia
0     russia                0              0               1
1    germany                1              0               0
2  australia                0              0               0
3      korea                0              1               0
4    germany                1              0               0

In [5]:
# Remove the 'country' column. 
# Specify inplace=True to delete the column without having to reassign data.
data.drop('country', axis=1, inplace=True)
data.head(5)

   country_germany  country_korea  country_russia
0                0              0               1
1                1              0               0
2                0              0               0
3                0              1               0
4                1              0               0